fastapi
uvicorn[standard]
transformers
sentence-transformers
chromadb
deepface
opencv-python-headless
pyautogui
pywinauto
python-dotenv
watchdog
llm
llama-cpp-python
coqui-tts
sounddevice
websockets
requests
feedparser
